.app-home-info {
  height: 12.5vh;
  background-color: #fff;

  &__container {
    padding-top:20px;
    text-align: center;
  }

  &__item {
    margin-left: 20px;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    span {
      vertical-align: middle;
    }
    img {
      margin-right: 8px;
      max-height: 100%;
      vertical-align: baseline;
      display: inline-block;
    }
  }
}
